.container {
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  background-color: #abb7ba;
  border-color: #2b3157;
  border-width: 2px;
}

.search-control {
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-inline {
  font-family: "Noto Serif JP", serif;
}

.fa-search {
  color: #ffffff;
}

.current {
  color: #f9e492;
  font-family: "Noto Serif JP", serif;
}

.current:hover {
  color: #ffff;
  transition: ease-in-out;
}

.top-titles {
  font-family: "Noto Serif JP", serif;
  color: #d0dfc0;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
}

.current-icon {
  font-size: 66px;
  padding: 5px;
  text-align: center;
  color: #ffffff;
}

.current-temperature-and-units {
  text-align: center;
  color: #869756;
  position: relative;
}

.current-temperature {
  font-size: 84px;
  text-align: center;
  position: relative;
  top: -8px;
  left: 5px;
  padding: 0;
  margin: 0;
  color: #f9e492;
}

.units {
  font-size: 14px;
  position: relative;
  left: 5px;
  top: -58px;
  color: #f9e492;
}

.active {
  color: #f9e492;
}

.inactive-unit {
  color: white;
}

.inactive-unit:hover {
  color: #f9e492;
}

.current-weather-description {
  font-family: "Noto Serif JP", serif;
  color: #e1e9ef;
}

.current-description {
  text-transform: capitalize;
}

.humidity-precip {
  font-size: 15px;
  text-align: center;
  color: #586043;
}

.low-high {
  font-size: 15px;
  text-align: center;
  position: relative;
  top: -18px;
  color: #586043;
}

.current-city {
  font-size: 40px;
  margin-bottom: 15px;
  color: #d0dfc0;
  margin-bottom: 0;
  position: relative;
  top: -10px;
}

.date-and-time {
  font-size: 16px;
  text-align: left;
  margin-bottom: 30px;
  color: white;
  position: relative;
  top: -10px;
}

.three-hour-forecast {
  text-align: center;
  font-family: "Noto Serif JP", serif;
  color: #586043;
  font-size: 18px;
}

.col-2 {
  text-align: center;
}

.day-of-the-week {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  color: #d0dfc0;
  text-align: center;
}

.temperature-forecast {
  font-family: "Noto Serif JP", serif;
  color: #586043;
  text-align: center;
  margin-bottom: 25px;
}

.weather-forecast-icon {
  font-size: 40px;
  padding: 12px;
  text-align: center;
  color: #ffffff;
}

footer {
  font-family: "Noto Serif JP", serif;
  color: #f9e492;
  font-size: 18px;
  text-align: center;
}

.a:link {
  font-family: "Noto Serif JP", serif;
  font-size: 18px;
  text-align: center;
}

.link {
  color: #f9e492;
  text-decoration: underline;
}

.link:hover {
  color: white;
}

.current-temperature-and-units .active {
  color: #f9e492;
  cursor: default;
}

.current-temperature-and-units .active:hover {
  text-decoration: none;
  color: #f9e492;
}
