.container {
  border-radius: 15px;
  background-image: linear-gradient(
    to top,
    #505285 0%,
    #585e92 12%,
    #65689f 25%,
    #7474b0 37%,
    #7e7ebb 50%,
    #8389c7 62%,
    #9795d4 75%,
    #a2a1dc 87%,
    #b5aee4 100%
  );
  padding: 15px;
  margin: 20px;
  max-width: 600px;
  margin: auto;
}

.search-control {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  line-height: 1.5;
  color: #5b6195;
  background-color: #e1e9ef;
  border: 1px solid #ced4da;
  border-radius: 30px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fa-search {
  color: #e1e9ef;
}

.current {
  color: #e1e9ef;
  font-family: "Quicksand", sans-serif;
}
.top-titles {
  font-family: "Quicksand", sans-serif;
  color: #e1e9ef;
  font-size: 18px;
  text-align: center;
}

.current-icon {
  font-size: 66px;
  padding: 5px;
  text-align: center;
}

.current-temperature-and-units {
  text-align: center;
  color: #e1e9ef;
  position: relative;
}

.current-temperature {
  font-size: 84px;
  text-align: center;
  position: relative;
  top: -8px;
  left: -6px;
  padding: 0;
  margin: 0;
}

.units {
  font-size: 14px;
  position: relative;
  top: -60px;
}

.current-weather-description {
  font-family: "Quicksand", sans-serif;
  color: #e1e9ef;
  text-transform: capitalize;
}

.weather-prediction-icon {
  font-size: 48px;
  color: #e1e9ef;
  text-align: center;
}

.humidity-precip {
  font-size: 15px;
  text-align: center;
}

.low-high {
  font-size: 15px;
  text-align: center;
  position: relative;
  top: -18px;
}

.current-city {
  font-size: 18px;
  margin-bottom: 15px;
}

.date-and-time {
  font-size: 16px;
  text-align: left;
  margin-bottom: 30px;
}

.day-of-the-week {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #e1e9ef;
  text-align: center;
}

.temperature-prediction {
  font-family: "Quicksand", sans-serif;
  color: #e1e9ef;
  text-align: center;
  margin-bottom: 30px;
}

footer {
  font-family: "Quicksand", sans-serif;
  color: #e1e9ef;
  font-size: 18px;
  text-align: center;
}
